<div class="container">
  
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">

    <!-- nome input -->
    <div class="form-group row">
      <div class="col-sm-12" [ngClass]="aplicaCssErro(nome)">
        <label for="nome" class="form-control-label">Nome</label>
        <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" #nome="ngModel" ngModel required>
      
        <app-campo-control-erro [mostrarErro]="verificaValidTouched(nome)" msgErro="Nome é obrigatório"></app-campo-control-erro>
      </div>
    </div>

    <div ngModelGroup="endereco">
      <!-- cep, numero and endereco inputs -->
      <div class="form-group row">
        <!-- cep input -->
        <div class="col-sm-4" [ngClass]="aplicaCssErro(cep)">
          <label for="cep" class="form-control-label">CEP</label>
          <input type="text" class="form-control" name="cep" id="cep" placeholder="Nome" #cep="ngModel" ngModel required
          (blur)="consultaCEP($event.target.value, f)">
        
          <app-campo-control-erro [mostrarErro]="verificaValidTouched(cep)" msgErro="CEP é obrigatório"></app-campo-control-erro>
        </div>

        <!-- numero input -->
        <div class="col-sm-2" [ngClass]="aplicaCssErro(numero)">
          <label for="numero" class="form-control-label">Numero</label>
          <input type="number" class="form-control" name="numero" id="numero" placeholder="Numero" #numero="ngModel" ngModel required>
        
          <app-campo-control-erro [mostrarErro]="verificaValidTouched(numero)" msgErro="Número é obrigatório"></app-campo-control-erro>
        </div>

        <!-- endereco input -->
        <div class="col-sm-6"  [ngClass]="aplicaCssErro(rua)">
          <label for="rua" class="form-control-label">Rua</label>
          <input type="text" class="form-control" name="rua" id="rua" placeholder="Rua" #rua="ngModel" ngModel required>
        
          <app-campo-control-erro [mostrarErro]="verificaValidTouched(rua)" msgErro="Rua é obrigatório"></app-campo-control-erro>
        </div>

      </div>

    </div>

    <br>

    <button type="submit" class="btn btn-primary btn-block btn-lg" [disabled]="!f.valid">Salvar</button>

    <app-form-debug [form]="f"></app-form-debug>

  </form>

</div>